@font-face {
  font-family: Geometria-Regular;
  src: url('../../assets/fonts/Geometria-Regular.woff') format('truetype');
}
@font-face {
  font-family: Geometria-Medium;
  src: url('../../assets/fonts/Geometria-Medium.woff') format('truetype');
}
@font-face {
  font-family: Geometria-Bold;
  src: url('../../assets/fonts/Geometria-Bold.woff') format('truetype');
}