:global {
  body {
    background: $color-black;
    min-height: 100vh;
  }

  .app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    height: max-content;
  }
}

