//Colors
$color-white: #ffffff;
$color-black: #000000;


//Font settings
$font-regular: SF-Regular;
$font-medium: SF-Medium;
$font-semi-bold: SF-Semibold;
$font-extra-bold: SF-Black;
$font-size-basic: 14px;

//Screen breakpoints
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;