@import '../../styles/mixins';

:local {
  .wrapper {
    width: 709px;
    padding: 59px 62px 65px 62px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      text-align: center;
    }

    .description {
      margin: 21px 0 46px 0;
      text-align: center;
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;

      .formControl {
        width: 358px;

        &:not(:first-child) {
          margin-top: 10px;
        }
      }

      .button {
        margin-top: 50px;
        width: 358px;
      }
    }
  }

  @include mobile {
    .wrapper {
      width: 100%;
      box-shadow: none;
      padding: 54px 16px 96px 16px;

      .form {
        width: 100%;

        .formControl {
          width: 100%;
        }

        .button {
          width: 100%;
          background: $gradient-gold;
          box-shadow: none;

          &_text {
            color: $color-black;
          }
        }
      }
    }
  }
}
