@import '../../styles/mixins';
$margin: 16px;

:local {
  .margin {
    margin-top: 128px;
  }

  .footer {
    width: $container-width;
    height: $footer-height;
    margin: 0 auto;
    padding: 56px 0 40px 0;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;

    .logoWrapper {
      display: block;
    }

    .text {
      font-size: 14px;
      line-height: 18px;
    }

    .logo {
      width: 261px;
      height: 38px;
    }

    .copyright {
      margin-top: 40px;
      font-size: 12px;
      line-height: 15px;
      color: $color-text-primary;
      opacity: 0.5;
    }

    h3 {
      font-family: $font-medium;
      font-size: 14px;
      line-height: 18px;
    }

    nav {

      a {
        cursor: pointer;
        display: block;
        margin-top: $margin;
        font-size: 14px;
        line-height: 18px;
        color: $color-text-primary;
      }
    }

    .phone {
      @extend .text;
      @include goldGradientFont();
      margin-top: $margin;
      display: block;
      color: $color-text-primary;

      &:hover {
        font-weight: bold;
      }
    }
    .email {
      @extend .text;
      @include goldGradientFont();
      margin-top: $margin;
      display: block;

      &:hover {
        font-weight: bold;
      }
    }

    .socialIcons {
      display: flex;
      align-items: center;
      margin-top: $margin;

      .icon {
        cursor: pointer;

        &:not(:first-child) {
          margin-left: 32px;
        }
      }
    }
  }

  @include mobile {
    .margin {
      margin: 0;
    }

    .footer {
      width: 100%;
      flex-direction: column;
      align-items: center;
      height: max-content;

      .text {
        text-align: center;
      }
      .copyright {
        margin-top: 20px;
        text-align: center;
      }

      h3 {
        text-align: center;
        margin-top: 24px;
      }
      nav {
        a {
          color: $color-text-secondary;
          text-align: center;
        }
      }
    }
  }
}

