:local {
  .footer {
    background-color: inherit;
    color: $color-white;
    padding: 30px 50px;

    a.logo {
      font-size: 20px;
      text-transform: uppercase;
      font-weight: bold;
      color: $color-white;
    }
  }
}

