$margin: 16px;

:local {
  .footer {
    width: $container-width;
    height: $footer-height;
    margin: 0 auto;
    padding: 56px 0 40px 0;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;

    .text {
      font-size: 14px;
      line-height: 18px;
    }

    .logo {
      width: 261px;
      height: 38px;
    }

    h3 {
      color: $color-text-primary;
      font-family: $font-regular;
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;
    }

    nav {

      a {
        cursor: pointer;
        display: block;
        margin-top: $margin;
        font-size: 14px;
        line-height: 18px;
        color: $color-text-primary;
        font-family: $font-light;
      }
    }

    .phone {
      @extend .text;
      margin-top: $margin;
      display: block;
      color: $color-text-primary;
    }
    .email {
      @extend .text;
      margin-top: $margin;
      display: block;
      color: $color-gold;
    }

    .socialIcons {
      display: flex;
      margin-top: $margin;

      .icon {
        cursor: pointer;

        &:not(:first-child) {
          margin-left: 32px;
        }
      }
    }
  }
}

