@import '../../../styles/mixins';

:local {
  .wrapper {
    width: $container-width;
  }

  .cardTitle {
    margin: 16px 0 10px 0;
  }

  @include mobile {
    .wrapper {
      width: 100%;
    }

    .cardTitle {
      margin: 16px 0 10px 0;
    }
  }
}

