:local {
  .wrapper {
    width: $container-width;

    h2 {
      margin: 122px 0 42px 0;
    }
  }

  .cardContainer {
    flex-basis: 50%;
    height: 320px;
  }

  .avatar {
    width: 220px;
    height: 306px;
    position: absolute;
    top: 14px;
    right: 0;
    filter: grayscale(100%);
    transition: all 0.5s ease;

    &:hover {
      filter: grayscale(0);
      opacity: 1;
    }
  }

  .cardTitle {
    margin: 0 0 13px 0;
  }

  .cardDescription {
    width: 328px
  }
}
