@import '../../styles/mixins';

:local {
  .header {
    width: 100%;
    min-width: $container-width;
    height: $header-height;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(23, 23, 23, 0.01);
    backdrop-filter: blur(50px);
    z-index: 1000;

    &_mobile {
      display: none;
    }

    .logoWrapper {
      display: block;

      .logo {
        width: 163px;
        height: 59px;
      }
    }

    nav {
      margin-left: 157px;
      display: flex;

      a {
        margin-right: 62px;
        font-size: 16px;
        line-height: 20px;
        color: $color-text-primary;
        white-space: nowrap;

        &:hover {
          font-weight: bold;
        }
      }
    }

    .socialIcons {
      height: 100%;
      display: flex;
      align-items: center;

      .icon {
        &:not(:first-child) {
          margin-left: 62px;
        }
      }
    }
  }

  @include mobile {
    .header {
      min-width: 0;
      width: 100%;
      height: max-content;
      display: block;

      &_desktop {
        display: none;
      }

      &_mobile {
        display: block;
      }

      .mobileHeader {
        width: 100%;
        padding: 0 16px;
        height: $mobile-header-height;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
      }

      .logo {
        width: 150px;
        height: 55px;
      }

      .mobileContentWrapper {
        padding: 0;
        height: 0;
        transition: height .2s linear;

        &_open {
          padding: 0 16px 10px 16px;
          height: 346px;
        }

        .mobileContent {
          opacity: 0;
          visibility: hidden;
          transition: opacity .7s ease-in-out;

          &_open {
            opacity: 1;
            visibility: visible;
          }
        }

        nav {
          margin: 0;
          flex-direction: column;
        }

        a, .contact {
          margin: 0;
          height: 46px;
          display: flex;
          align-items: center;
        }

        .contact {
          @include goldGradientFont();
          font-family: $font-medium;
        }

        .socialIcons {
          height: 50px;
          margin-top: 10px;

          .icon {
            margin-right: 30px;
          }
        }
      }
    }
  }
}

