:local {
  .header {
    padding: 50px;
    display: flex;
    align-items: center;

    .logo {
      font-size: 20px;
      text-transform: uppercase;
      font-weight: bold;
      color: $color-white;
    }

    ul {
      margin-left: 50px;
      display: flex;

      li > a {
        padding: 10px;
        color: $color-white;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

