@import '../../styles/mixins';

:local {
  .form {
    margin-top: 128px;
  }

  .advantagesSection {
    margin-top: 200px;
  }

  .howGoesSection {
    margin-top: 200px;
  }

  @include mobile {
    .howGoesSection {
      margin-top: 100px;
    }
  }
}
