$line-animation-duration: 0.3s;
$text-animation-duration: 1.3s;

:local {
  .tabs {
    width: $container-width;

    .tab {
      height: 35px;
      h3 {
        color: $color-text-dark-grey;
        cursor: pointer;
      }

      &:not(:last-child) {
        margin-bottom: 45px;
      }

      .line {
        margin: 9px 0 13px 0;
        width: 48px;
        height: 2px;
        background-image: linear-gradient(175.56deg, #FCD17B -51.47%, #C3971C -27.96%, #B88927 -4.62%, #E2C280 21.85%, #D3B16E 31.19%, #BF9955 44.29%, #A57617 67.17%, #AE8020 93.65%, #FFCF69 114.78%);
        background-size: cover;
        transition: width $line-animation-duration linear;
      }

      .flexContainer {
        display: flex;
        justify-content: flex-end;
        height: 0;

        .column {
          flex-basis: 50%;
          opacity: 0;
          visibility: hidden;
          transition: opacity $text-animation-duration;
        }
      }

      &:hover, &.active {
        h3 {
          color: $color-text-primary;
        }

        .line {
          width: 100%;
        }

        .column {
          visibility: visible;
          opacity: 1;
        }

      }
    }
  }
}
