@import '../../../styles/mixins';

:local {
  .tabs {
    width: $container-width;
    display: flex;
    justify-content: space-between;

    .tab {
      max-width: 230px;
      height: 87px;

      h3 {
        margin-top: 22px;
        font-size: 16px;
        line-height: 20px;
        color: $color-text-dark-grey;
        cursor: pointer;
      }

      .line {
        margin: 10px 0 14px 0;
        width: 48px;
        height: 2px;
        background-image: $gradient-gold;
        background-size: cover;
        transition: $transition-line-width;
      }

      .description {
        flex-basis: 50%;
        opacity: 0;
        visibility: hidden;
        transition: $transition-text-opacity;
      }

      &:hover, &.active {
        h3 {
          color: $color-text-primary;
        }

        .line {
          width: 98px;
        }

        .description {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  @include mobile {
    .tabs {
      width: 100%;
      display: block;
      padding: 0 16px;
      box-sizing: border-box;

      .tab {
        width: 100%;
        max-width: 100%;
        height: max-content;

        &:not(:last-child) {
          margin-bottom: 50px;
        }

        h3 {
          margin-top: 22px;
          font-size: 16px;
          line-height: 20px;
          color: $color-text-primary;
        }

        .line {
          margin: 10px 0 14px 0;
          width: 100%;
          height: 2px;
          background-image: $gradient-gold;
          transition: none;
        }

        .description {
          opacity: 1;
          visibility: visible;
          transition: none;
        }

        &:hover, &.active {
          .line {
            width: 100%;
          }
        }
      }
    }
  }
}
