:local {
  .slide {
    height: 300px;
    padding: 0 2px;
    background: transparent;

    .header {
      display: flex;
      align-items: flex-end;

      .avatar {
        width: 80px;
        height: 80px;
        border-radius: 5px;
      }

      .info {
        margin-left: 31px;

        .name {
          text-align: left;
        }

        .jobTitle {
          margin-top: 6px;
          font-family: $font-medium;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 0.02em;
          text-transform: uppercase;
          color: $color-text-primary;
        }
      }

      .socialIconsBar {
        margin-left: auto;
      }
    }

    .body {
      text-align: left;
      margin: 15px 0 19px 0;
    }
  }

  .button {
    position: absolute;
    top: 128px;
    right: 94px;

    &_left {
      @extend .button;
      left: 94px;
    }
  }
}

:global {
  .carousel .slider-wrapper {
    width: 800px;
  }

  .carousel .slide {
    background: transparent;
  }

  .carousel .control-dots .dot {
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.2);
  }

  .carousel .control-dots .dot.selected, .carousel .control-dots .dot:hover {
    background: $gradient-gold;
  }

  .carousel .control-dots .dot:focus {
    outline: none;
  }
}
