:local {
  .wrapper {
    height: calc(100vh - #{$footer-height} - 129px);
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: $header-height;
    box-sizing: border-box;

    .errorTitle {
      font-family: $font-bold;
      font-size: 144px;
      line-height: 181px;
      background: $gradient-gold;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .errorDescription {
      margin: 7px 0 48px 0;
      font-family: $font-bold;
      font-size: 24px;
      line-height: 30px;
      text-align: center;
      text-transform: uppercase;
      color: $color-text-primary;
    }

    .button {
      width: 270px;
      transition: width .1s linear;

      &:hover {
        width: 300px;
      }
    }
  }
}