:local {
  .wrapper {
    width: $container-width;
    margin-top: 122px;
  }

  .title {
    margin-bottom: 50px;
  }

  @include mobile {
    .wrapper {
      width: 100%;
      margin-top: 90px;
    }
  }
}
