@import '../mixins';
@import '../variables';

body {
  @include normalizeFont();
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: $font-bold;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #E7E7E7;
}
h2 {
  font-family: $font-bold;
  font-size: $font-size-title;
  line-height: 45px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $color-text-primary;
}
h3 {
  font-family: $font-bold;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $color-text-primary;
}

p {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: $color-text-secondary;
}

a {
  text-decoration: none;
}

button, input, optgroup, select, textarea {
  @include normalizeFont();

  &::-webkit-input-placeholder {
    @include normalizeFont();
  }
}