:local {
  .divider {
    height: 1px;
    width: 100%;
    background: linear-gradient(179.89deg, #FCD17B -51.47%, #C3971C -27.96%, #B88927 -4.62%, #E2C280 21.85%, #D3B16E 31.19%, #BF9955 44.29%, #A57617 67.17%, #AE8020 93.65%, #FFCF69 114.78%);
  }
}
