:local {
  .button {
    padding: 10px 20px;
    min-width: 60px;
    color: $color-text-primary;
    border: 1px solid $color-gold;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;

    &:hover {
      background: $gradient-gold;
      color: $color-black;
    }
  }
}
