:local {
  .card {
    position: relative;
    padding: 48px;
    box-sizing: border-box;
    width: max-content;
    height: max-content;
    border-radius: 5px;
    box-shadow: $shadow-primary;
  }

  .shadowOnHover {
    transition: $transition-shadow;
    box-shadow: none;

    &:hover {
      box-shadow: $shadow-primary;
    }
  }

  .headLine {
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: $gradient-gold;
      height: 3px;
      width: 100%;
      border-radius: 5px 5px 0 0;
    }
  }

  .headLineOnHover {
    @extend .headLine;

    &:before {
      opacity: 0;
      visibility: hidden;
      transition: $transition-shadow;
    }

    &:hover {
      &:before {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .emptyBlock {
    margin-top: 38px;
  }

  .fakeButton {
    position: relative;
    width: 50px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-image: $gradient-gold;
    }
  }
}
