@import '../../../styles/mixins';

:local {
  .cards {
    display: flex;
    flex-wrap: wrap;

    .card {
      flex-basis: 50%;
      min-height: 300px;
    }
  }

  @include mobile {
    .cards {
      display: block;

      .card {
        width: 100%;
        min-height: 150px;
      }
    }
  }
}
