:local {
  .wrapper {
    width: $container-width;
    margin: 100px auto 0 auto;

    .cardList {
      margin-top: 51px;
      display: flex;
      flex-wrap: wrap;

      .card {
        flex-basis: 50%;
      }
    }
  }
}

