$line-animation-duration: 0.3s;
$text-animation-duration: 1.3s;

:local {
  .tabs {
    width: $container-width;

    .tab {
      height: 35px;
      h3 {
        color: $color-text-dark-grey;
        cursor: pointer;
      }

      &:not(:last-child) {
        margin-bottom: 45px;
      }

      .line {
        margin: 9px 0 13px 0;
        width: 48px;
        height: 2px;
        background-image: $gradient-gold;
        background-size: cover;
        transition: width $line-animation-duration linear;
      }

      .flexContainer {
        display: flex;
        justify-content: flex-end;
        height: 0;

        .column {
          flex-basis: 50%;
          opacity: 0;
          visibility: hidden;
          transition: opacity $text-animation-duration;
        }
      }

      &:hover, &.active {
        h3 {
          color: $color-text-primary;
        }

        .line {
          width: 100%;
        }

        .column {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}
